<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebEng Second Long Exam</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body id="index">
        <h1>WebEng Second Long Exam</h1>
        {% if username !== null %}
            <h2>{{username}}</h2>
        {% else %}
            <h2>Anonymous</h2>
        {% endif %}
        <form action="/submit" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <button>Submit</button>
        </form>
    </body>
</html>
