<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{username}}</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body id="profile">
    	<h1>{{username}}</h1>
    </body>
</html>
